body {
    background: #222222;
    background-image: url(/img/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
}

::placeholder {
    color: #555; 
}

.titleindex {
    color: #FFF;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.borderindex {
    position: fixed;
    background: #444;
    border: 0.05rem solid #eee;
    opacity: 80%;
    text-align: center;
    padding: 0.4rem;
    width: 24rem;
}

.textinputindex {
    background: #AAA;
    border: 0.05rem solid #eee;
    display: inline-block;
    position: relative;
    text-align: center;
    height: auto;
    width: 20rem;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #FFF;
    padding: 0.2rem;
    margin: 0.4rem;
}

.borderback {
    position: fixed;
    background: #444;
    border: 0.05rem solid #eee;
    opacity: 80%;
    text-align: center;
    padding: 0.4rem;
    width: 30rem;
}

.textinputback {
    background: #777;
    border: 0.05rem solid #eee;
    display: inline-block;
    position: relative;
    text-align: center;
    height: auto;
    width: 26rem;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #FFF;
    padding: 0.2rem;
    margin: 0.4rem;
}

.infomenubtnch {
    background: rgb(80, 80, 255);
    border: 0.05rem solid #444;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 50%;
    height: auto;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #FFF;
    padding: 0.2rem;
    margin: 0.4rem;
}

.infomenubtnchrs {
    background: rgb(80, 255, 80);
    border: 0.05rem solid #444;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 50%;
    height: auto;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #111;
    padding: 0.2rem;
    margin: 0.4rem;
}

.infomenubtnnorm {
    background: rgb(80, 80, 80);
    border: 0.05rem solid #444;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 45%;
    height: auto;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #FFF;
    padding: 0.2rem;
    margin: 0.2rem;
}

.infomenubtncons {
    background: rgb(255, 80, 80);
}

.groupbtn {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 1%;
    left: 0rem;
}

.infomenubtncolor {
    background: rgb(57, 57, 197);
    color: #FFF;
}

.infomenubtn {
    background: rgb(136, 136, 136);
    border: 0.05rem solid #444;
    position: absolute;
    display: block;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #FFF;
    padding: 0.2rem;
    margin: 0.4rem;
}

.topPage {
    position: fixed;
    display: block;
    top: 0%;
    left: 0%;
    background: #444;
    color: #eee;
    border-bottom: 2px solid #888;
    padding: 2px;
    width: 100%;
}

.downPageClose {
    position: fixed;
    display: block;
    top: calc(100% - 38px);
    left: 0%;
    background: #444;
    color: #eee;
    border-top: 2px solid #888;
    padding: 2px;
    width: 100%;
}

.downPageOpen {
    position: fixed;
    display: block;
    top: calc(40% - 40px);
    left: 0%;
    background: #444;
    color: #eee;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    padding: 2px;
    width: 100%;
}

.textSend {
    position: relative;
    color: #eee;
    font-size: 14px;
    background: #555;
    border: 2px solid #888;
    left: 8px;
    top: 6px;
    width: calc(100% - 114px);
}

.console {
    position: fixed;
    display: block;
    top: 40%;
    left: 0%;
    background: #555;
    font-size: 15px;
    color: #eee;
    padding: 2px;
    width: 100%;
    height: calc(60% - 42px);
    overflow: auto;
}

.consoleTitle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #eee;
    font-size: 18px;
    left: 5px;
    top: 5px;
}

.title {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #eee;
    font-size: 20px;
    left: 10px;
    top: 4px;
    width: auto;
    height: auto;
}

.processWindowTitle {
    position: relative;
    display: block;
    background: #444;
    color: #eee;
    border: 2px solid #888;
    border-bottom: medium;
    padding: 2px;
    width: 99%;
    opacity: 95%;
}

.processWindow {
    position: relative;
    display: block;
    background: #555;
    color: #000;
    border: 2px solid #888;
    padding: 2px 2px 2px 2px;
    width: 99%;
    opacity: 95%;
}

.titleProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #eee;
}

.labelProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.textProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #aa2;
}

.right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.left {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.on {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #3b3;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 16px;
}

.off {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #b33;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 16px;
}