body {
    background: #222222;
    background-image: url(/img/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

::placeholder {
    color: #555; 
}

div, span {
    color: #FFF;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

header {
    margin: 0px;
    height: 40px;
    width: 100%;
    background: #444;
    border-bottom: 2px #666 solid;
}

#formsearch {
    display: inline;
}

#menu {
    position: fixed;
    display: none;
    top: 42px;
    left: 0px;
    padding: 6px;
    overflow: auto;
    word-wrap: break-word;
    border-right: 2px #666 solid;
    background: #444;
    width: 600px;
    height: 100%;
}

#title {
    font-size: 24px;
    padding: 0px;
    margin-top: 3px;
    margin-left: 6px;
}

#page {
    font-size: 20px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 6px;
    float: right;
}

#update {
    position: fixed;
    display: block;
    font-size: 16px;
    top: 40px;
    left: 100px;
    background: #444;
    border: 2px #666 solid;
    border-top: none;
    padding: 2px;
    padding-top: 0px;
}

#search,#sort {
    position: relative;
    padding: 0px;
    margin-top: 8px;
    width: auto;
    height: 24px;
    margin-right: 8px;
    text-align: right;
}

#searchbtn {
    background: url("/img/search.png");
}

#next {
    background: url("/img/arrowright.png");
}

#previous {
    background: url("/img/arrowleft.png");
}

#searchbtn,#next,#previous {
    position: relative;
    border: none;
    border-radius: 0px;
    padding: 0px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: transparent;
    background-size: cover;
    text-align: right;
}

.btnclose {
    display: inline-block;
    border: none;
    padding: auto;
    margin: 2px;
    background: url("/img/close.png");
    width: 14px;
    height: 14px;
}

.title {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
}

.spanprocess {
    display: block;
    position: relative;
    float: right;
}

.headiconleft,.headiconright {
    padding: 0px;
    margin-top: 4px;
    width: 32px;
    height: 32px;
}

.headiconleft {
    margin-left: 4px;
    float: left;
}

.headiconright {
    margin-right: 4px;
    float: right;
}

.iconleft,.iconright {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 32px;
    height: 32px;
}

.iconleft {
    margin-left: 4px;
    float: left;
}

.iconright {
    margin-right: 4px;
    float: right;
}

.iconleftmenu,.iconrightmenu {
    padding: 0px;
    margin: 0px;
    width: 20px;
    height: 20px;
}

.iconleftmenu {
    margin-left: 3px;
    float: left;
}

.iconrightmenu {
    margin-right: 3px;
    float: right;
}

.folder,.cmd,.stopcmd {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-left: 4px;
    margin-right: 4px;
    height: 32px;
    line-height: 32px;
    width: calc(100% - 152px);
    font-size: 20px;
    text-align: left;
    overflow-y: hidden;
    overflow-x: scroll;
    overflow-wrap: initial;
}

.folder {
    color: #DD4;
}

.cmd {
    color: #4D4;
}

.stopcmd {
    color: #D44;
}

.menufolder {
    color: #DD4;
    font-size: 16px;
    word-wrap: break-word;
    margin-left: 3px;
}

.boxglobal,.boxglobalhidden {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 42px);
}

.boxprocess {
    display: block;
    position: relative;
    margin: auto;
    width: 48%;
    height: 49%;
}

.headprocess {
    display: block;
    position: relative;
    background: #222222;
    border: 2px #444 outset;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: auto;
    overflow: visible;
}

.menuheadon,.menuheadoff,.menuheadfolder,.menuheadnumber {
    width: calc(100% - 12px);
    word-wrap: break-word;
    padding: 2px;
}

.menuheadon {
    background: #3b3;
    border: 2px #3D3 outset;
}

.menuheadoff {
    background: #b33;
    border: 2px #D33 outset;
}

.menuheadfolder {
    background: #bb3;
    border: 2px #DD3 outset;
}

.menuheadnumber {
    background: #666;
    border: 2px #888 outset;
    color: #333;
    margin-bottom: 6px;
}

.menuunderhead {
    width: calc(100% - 24px);
    margin: 6px;
    margin-top: 0px;
    word-wrap: break-word;
    padding: 2px;
    background: #555;
    border: 2px #333 solid;
    border-top: none;
}

.noselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    -moz-user-select: none;
    user-select: none;
}

.headon,.headoff,.headfolder {
    width: calc(100% - 4px);
    overflow: hidden;
}

.headon {
    background: #3b3;
    border: 2px #3D3 outset;
}

.headoff {
    background: #b33;
    border: 2px #D33 outset;
}

.headfolder {
    background: #bb3;
    border: 2px #DD3 outset;
}

.menuoff,.menuon {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 50%;
    float: right;
}

.off,.on {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    border-radius: 24px;
    float: right;
}

.on,.menuon {
    background: #3b3;
}

.off,.menuoff {
    background: #b33;
}

.contprocess {
    display: block;
    position: relative;
    background: rgb(100, 100, 100);
    border: 2px #444 solid;
    border-top: none;
    width: calc(98% - 4px);
    margin: 1%;
    margin-top: 0%;
    padding: 5px;
    padding-top: 1px;
    line-height: 32px;
    overflow: none;
}

.divprocess {
    position: relative;
    display: block;
    overflow: none;
    line-height: 32px;
    height: 32px;
    width: 100%;
    margin: 0px;
    margin-top: 6px;
}

@media (max-width: 1024px) {
    body {
        background-repeat: repeat-y;
    }

    #menu {
        width: 100%;
    }

    .boxprocess {
        width: 98%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .boxglobal {
        display: block;
    }

    .boxglobalhidden {
        display: none;
    }
}