.topPage {
    position: fixed;
    display: block;
    top: 0%;
    left: 0%;
    background: #444;
    color: #eee;
    border-bottom: 2px solid #888;
    padding: 2px;
    width: 100%;
}

.downPageClose {
    position: fixed;
    display: block;
    top: calc(100% - 38px);
    left: 0%;
    background: #444;
    color: #eee;
    border-top: 2px solid #888;
    padding: 2px;
    width: 100%;
}

.downPageOpen {
    position: fixed;
    display: block;
    top: calc(40% - 40px);
    left: 0%;
    background: #444;
    color: #eee;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    padding: 2px;
    width: 100%;
}

.textSend {
    position: relative;
    color: #eee;
    font-size: 14px;
    background: #555;
    border: 2px solid #888;
    left: 8px;
    top: 6px;
    width: calc(100% - 114px);
}

.console {
    position: fixed;
    display: block;
    top: 40%;
    left: 0%;
    background: #555;
    font-size: 15px;
    color: #eee;
    padding: 2px;
    width: 100%;
    height: calc(60% - 42px);
    overflow: auto;
}

.consoleTitle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #eee;
    font-size: 18px;
    left: 5px;
    top: 5px;
}

.title {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #eee;
    font-size: 20px;
    left: 10px;
    top: 4px;
}

.processWindowTitle {
    position: relative;
    display: block;
    background: #444;
    color: #eee;
    border: 2px solid #888;
    border-bottom: medium;
    padding: 2px;
    width: 99%;
}

.processWindow {
    position: relative;
    display: block;
    background: #555;
    color: #000;
    border: 2px solid #888;
    padding: 2px 2px 2px 2px;
    width: 99%;
}

.titleProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #eee;
}

.labelProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.textProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #aa2;
}

.right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.left {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.on {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #3b3;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 16px;
}

.off {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #b33;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 16px;
}