.processWindowTitle {
    position: relative;
    display: block;
    background: #444;
    color: #eee;
    border: 2px solid #888;
    border-bottom: medium;
    padding: 2px;
    width: 99%;
}

.processWindow {
    position: relative;
    display: block;
    background: #555;
    color: #000;
    border: 2px solid #888;
    padding: 2px 2px 2px 2px;
    width: 99%;
}

.titleProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #eee;
}

.labelProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.textProcess {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #aa2;
}

.right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.left {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.on {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #3b3;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 16px;
}

.off {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #b33;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 16px;
}